@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "BrownMonoTrialTT";
  src: url("/fonts/BrownMonoTrialTT-Italic.ttf");
  src: url("/fonts/BrownMonoTrialTT-Light.ttf");
  src: url("/fonts/BrownMonoTrialTT-LightItalic.ttf");
  src: url("/fonts/BrownMonoTrialTT-Regular.ttf");
}

@font-face {
  font-family: "Sono";
  src: url("/fonts/Sono[MONO,wght].ttf");
}

.font-mono {
  font-family: "Sono";
  font-weight: 348;
}

.pulse {
  animation: lowfade 2s steps(20, start) infinite;
}

@keyframes lowfade {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}

.blink {
  animation: fade 2s steps(20, start) infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
    width: 18px;
    height: 18px;
  }
  50% {
    opacity: 1;
    width: 24px;
    height: 24px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
